# Database
DATABASE_URL=""

# NextAuth
NEXTAUTH_URL=""
NEXTAUTH_SECRET=""

# Microsoft 365 SSO
AZURE_AD_CLIENT_ID=""
AZURE_AD_CLIENT_SECRET=""
AZURE_AD_TENANT_ID=""

# Cron
CRON_SECRET=""

# Firebase (optional for dev)
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
